@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  color: white;
}

.header {
  font-size: 12px;
  font-weight: bold;
}
.header #navItem:hover {
  color: #b9b9b9;
}

.container00 {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrowDown {
  display: inline-block;
  width: 90px;
  margin-top: 5px;
}

.logoPc {
  width: 240px;
  margin-left: -10px;
  margin-right: 40px;
}

.downloadDesc {
  background-color: black;
  height: 85vh;
  padding-top: 240px;
}
.downloadDesc a {
  text-decoration: none;
  color: #555252;
}
.downloadDesc a:hover {
  color: #b9b9b9;
}
.downloadDesc button {
  border: 2px solid white;
  margin-right: 10px;
}

@media (max-width: 405px) {
  .logoPc {
    width: 180px;
    margin-top: 15px;
  }
  .footer {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  .logoPc {
    width: 145px;
    margin-top: 15px;
  }
}
.container00.container01 {
  background-image: url("../../Images/home/01.jpg");
}
.container00.container02 {
  background-image: url("../../Images/home/03.jpg");
}
.container00.container03 {
  background-image: url("../../Images/home/02.gif");
}
.container00.container04 {
  background-image: url("../../Images/home/04.jpg");
}

.titlePadding {
  padding-top: 200px;
}

.shortTitle {
  width: 550px;
  margin-bottom: 25px;
}

.mediumTitle {
  width: 650px;
  margin-bottom: 25px;
}

#button {
  padding: 15px 35px;
  border: solid 2px white;
}

.footer {
  background-color: black;
  height: 15vh;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: #b9b9b9;
}
.footer .copyCesa {
  color: #555252;
}

@media (max-width: 750px) {
  .titlePadding {
    padding-top: 120px;
  }
  .shortTitle, .mediumTitle {
    width: auto;
    font-size: 50px;
  }
}
@media (max-width: 380px) {
  .shortTitle, .mediumTitle {
    width: auto;
    font-size: 40px;
  }
}
.container00.container05 {
  background-image: url("../../Images/falcon9/01.jpg");
}
.container00.container06 {
  background-image: url("../../Images/falcon9/02.jpg");
}
.container00.carrosel01 {
  background-image: url("../../Images/falcon9/03.jpg");
}
.container00.carrosel02 {
  background-image: url("../../Images/falcon9/04.jpg");
}
.container00.carrosel03 {
  background-image: url("../../Images/falcon9/05.jpg");
}
.container00.carrosel04 {
  background-image: url("../../Images/falcon9/06.jpg");
}
.container00.carrosel05 {
  background-image: url("../../Images/falcon9/07.jpg");
}
.container00.container07 {
  background-image: url("../../Images/falcon9/08.jpg");
}

.titleFalcon {
  font-size: 90px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.titleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.numbers {
  background-color: black;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.numbers .titleNumb {
  font-size: 90px;
}
.numbers .subTitleNumb {
  font-size: 20px;
}

.Falcon9Desc {
  font-size: 22px;
  width: 640px;
  line-height: 50px;
}

.containerFalcon9Desc {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-content: left;
}

#overViewPosition {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}
#overViewPosition td {
  color: white;
  background-color: transparent;
}

.carousel-slide img {
  height: 100vh;
}

.carousel-text {
  background-color: black;
}

@media (max-width: 768px) {
  .numbers .titleNumb {
    font-size: 80px;
  }
  .numbers .subTitleNumb {
    font-size: 18px;
  }
  .Falcon9Desc {
    width: auto;
  }
}
@media (max-width: 575px) {
  .numbers {
    height: 80vh;
  }
  #overViewPosition {
    width: auto;
    margin-left: auto;
  }
}
.container00.container08 {
  background-image: url("../../Images/humanFlight/01.jpg");
}
.container00.container10 {
  background-image: url("../../Images/humanFlight/02.jpg");
}
.container00.container11 {
  background-image: url("../../Images/humanFlight/03.jpg");
}
.container00.container12 {
  background-image: url("../../Images/humanFlight/04.jpg");
}
.container00.container13 {
  background-image: url("../../Images/humanFlight/05.jpg");
}

.containerHuman {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerHuman .humanTitle {
  font-size: 120px;
}
.containerHuman .humanSubtitle {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 300;
}
.containerHuman .arrowDown2 {
  width: 130px;
}

.container09 {
  background-color: black;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.container09 a {
  color: white;
}
.container09 p {
  width: 800px;
}

.rightContainer {
  margin-left: 55%;
  padding-top: 15%;
}

.leftContainer {
  margin-left: 5%;
  padding-top: 15%;
}

/*# sourceMappingURL=style.css.map */
